.log  img{
    width: 110px;
    height: 30px;
margin-top: 25px;
padding-left: 25px;
}
.log ul li{
    list-style:none;
    display:inline;
    padding-left: 30px;
}
.log{
    display: flex;
}
.log ul{
 margin-top: 30px;
 padding-left: 200px;
 font-size: larger;
font-weight: bold;
}
.log h4{
    margin-top: 30px;
    padding-left:10px;
    font-size: large;
    margin-bottom: 20px;
}
.order{
    display: flex;
    padding-left: 380px;
    padding-right: 380px;
    color: aliceblue;
    background-color:black
}
.order button{
    background-color: rgb(233, 1, 1);
    color: aliceblue;
    border-radius: 20px;
    margin-left: 10px;
    padding: 0px 20px 0x 20px;
    font-size: medium;

}
.log i{
    /* margin-right: 400px; */
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 750px;
    font-size: larger;
    font-weight:bolder;
}
.offimg{
    padding-left:600px;
    background-image: url(../HTN/surya/deals.jpeg);
    opacity: 50px;
    color: aliceblue;
}
.deal img{
    margin-top: 20px;
     height: 400px;
     width: 100%;
}

.deal{
    padding: 10px;
    margin-left: 100px;
    display: flex;
}
.li ul li{
    padding-left: 200px;
    list-style: none;
    display:inline;
    
}
.first{
    margin-top: 20px;
    margin-left: 70px;
    display: flex;
}
.first img{
    height: 250px;
    width: 100%;
}
.second{
    margin-top: 50px;
    margin-left: 70px;
    display: flex;
}
.third{
    margin-top: 50px;
    margin-left: 70px;
    display: flex;
}
.logn{
    margin-top: 20px;
    margin-left:650px ;
}
.logn button{
    border-radius: 20px;
    padding: 0px 20px 0px 20px;
}
.view{
    margin-top: 10px;
    margin-left: 650px;
}
.footer{
    
    background-color: black;
    color: aliceblue;
}
.footer1{
    display: flex;
}
.footimg img{
    /* margin-top: 25px; */
    padding-left: 50px
}
.fotlist {
    display: flex;
    /* padding-top: 50px; */

}
.fotlist ul li{
    list-style: none;
    font-size:small;
}
.floct{
    display: flex;
}
.para{
    padding-left: 450px; 
    margin-top: 50px;
}
.ikon{
    padding-left: 1200px;
}
.footer1{
    padding-top: 50px;
}
.footer2 img{
    padding-left: 30px;
}
