.log  img{
    width: 110px;
    height: 30px;
margin-top: 25px;
padding-left: 25px;
}
.log ul li{
    list-style:none;
    display:inline;
    padding-left: 30px;
}
.log{
    display: flex;
}
.log ul{
 margin-top: 30px;
 padding-left: 200px;
 font-size: larger;
font-weight: bold;
}
.log h4{
    margin-top: 30px;
    padding-left:10px;
    font-size: large;
    margin-bottom: 20px;
}
.location i{
    margin-top: 5px;
    padding-right: 10px;
}
.log i{
    /* margin-right: 400px; */
    margin-top: 30px;
    margin-bottom: 20px;
    padding-left: 750px;
    font-size: larger;
    font-weight:bolder;
    
}
.menulist ul{
    list-style: none;
    padding-right: 50px;
    display: inline;
}
.kfmenu{
    padding-left:120px ;
}